{% extends 'base.html' %}
{% block title %}- Rivoluziona il tuo allenamento in palestra{% endblock %}
{% block content %}
<div class="icon-background"></div>
<section class="welcome section">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2><span class="color-light-blue">Gym</span>C<i class="bi bi-vignette"></i>urses</h2>
                <p>Rivoluziona il tuo allenamento in palestra</p>
                <a href="/login" class="btn-login">ACCEDI ORA</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
